{{ header }}
<div id="information-contact" class="container">
	<ul class="breadcrumb" style="margin-bottom:15px">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	<div class="row col-sm-12" style="margin-top:35px">
		<div id="content" class="row">
			<div class="text-center">
				<h1 style="word-wrap: break-word;
																																																																																																									              font-family: Muli, Helvetica, Arial, sans-serif;
																																																																																																														    font-weight: 600;
																																																																																																														    font-size: 3.5rem;
																																																																																																														    line-height: 3rem;
																																																																																																														    letter-spacing: normal;
																																																																																																														    text-transform: none;
																																																																																																														    color: #3C424;
																																																																																																				                        margin-bottom:20px;">NEEM CONTACT OP</h1>
				<div style="word-wrap: break-word">
					<h3 style=" color: #3C424F;  font-weight: 300;">
						U bent altijd van harte welkom om in onze winkel langs te komen, binnen onze openingstijden. Wilt u buiten onze openingstijden langskomen of een afspraak maken kan dat natuurlijk ook, bel/mailt u ons dan even! Heeft u vragen of opmerkingen vul gerust onderstaand formulier in en wij nemen desgewenst contact met u op.
					</h3>
				</div>
			</div>
			<div class="row" style="margin-top:50px;">
				<div class="col-sm-6">
					{% if locations %}
						<h3>{{ text_store }}</h3>
						<div class="panel-group" id="accordion">
							{% for location in locations %}
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }}
												<i class="fa fa-caret-down"></i>
											</a>
										</h4>
									</div>
									<div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
										<div class="panel-body">
											<div class="row">
												{% if location.image %}
													<div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail"/></div>
												{% endif %}
												<div class="col-sm-3">
													<strong>{{ location.name }}</strong><br/>
													<address>
														{{ location.address }}
													</address>
													{% if location.geocode %}
														<a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info">
															<i class="fa fa-map-marker"></i>
															{{ button_map }}</a>
													{% endif %}
												</div>
												<div class="col-sm-3">
													<strong>{{ text_telephone }}</strong><br/>
													{{ location.telephone }}<br/>
													<br/>
													{% if location.fax %}
														<strong>{{ text_fax }}</strong><br/>
														{{ location.fax }}
													{% endif %}
												</div>
												<div class="col-sm-3">
													{% if location.open %}
														<strong>{{ text_open }}</strong><br/>
														{{ location.open }}<br/>
														<br/>
													{% endif %}
													{% if location.comment %}
														<strong>{{ text_comment }}</strong><br/>
														{{ location.comment }}
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					{% endif %}
					<p></p>
				</div>
				<div class="col-sm-6">
					<h2 style="color: #28343d;">ADRESGEGEVENS:</h2>
					<div class="row">
						<div class="col-xs-3">
							<h3>
								<b>Address:</b>
							</h3>
						</div>
						<div class="col-xs-9">
							<h3>
								De Mors 33
								<br>
								7631 AH Ootmarsum
								<h3></div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<h3>
										<b>Telefoon:</b>
									</h3>
								</div>
								<div class="col-xs-9">
									<h3>
										0541 – 355919
										<h3></div>
									</div>
									<div class="row">
										<div class="col-xs-3">
											<h3>
												<b>E-mail:</b>
											</h3>
										</div>
										<div class="col-xs-9">
											<h3>info@bizzsite.nl</h3>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-4">
											<h3>
												<b>Openingstijden:</b>
											</h3>
										</div>
										<div class="col-xs-8">
											<h3>Maandag      08.30 – 17.30 uur
												<br>Dinsdag      08.30 – 17.30 uur
												<br>Woensdag     08.30 – 17.30 uur
												<br>Donderdag    08.30 – 17.30 uur
												<br>Vrijdag      08.30 – 17.30 uur
												<br>Zaterdag     09.00 – 15.00 uur
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 text-center" style="margin-top:20px; background-image: url(./image/catalog/images/mockup.jpg);padding: 0;">
							<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
								<fieldset>
									<legend>STEL UW VRAAG</legend>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-name">NAAM (VEREIST)</label>
										<div class="col-sm-4">
											<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control"/>
											{% if error_name %}
												<div class="text-danger">{{ error_name }}</div>
											{% endif %}
										</div>

										<label class="col-sm-2 control-label" for="input-email">EMAIL (VEREIST)</label>
										<div class="col-sm-4">
											<input type="text" name="email" value="{{ email }}" id="input-email" class="form-control"/>
											{% if error_email %}
												<div class="text-danger">{{ error_email }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-phone">TELEFOONNUMMER (VEREIST)</label>
										<div class="col-sm-10">
											<input type="text" name="phone" value="" id="input-phone" class="form-control"/>
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-topic">ONDERWERP</label>
										<div class="col-sm-10">
											<input type="text" name="topic" value="" id="input-topic" class="form-control"/>
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-enquiry">BERICHT</label>
										<div class="col-sm-10">
											<textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
											{% if error_enquiry %}
												<div class="text-danger">{{ error_enquiry }}</div>
											{% endif %}
										</div>
									</div>
									{{ captcha }}
								</fieldset>
								<div class="buttons">
									<div class="pull-right">
										<input class="btn" style="background-color: #28343d; border-color: #28343d; color:white;" type="submit" value="Verzenden"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ footer }}
